body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

ul {
    all: unset;
}

h1 {
    all: unset;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

h2 {
    all: unset;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    justify-content: center;
}

button {
    all: unset;
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    color: #E5E7EB;
    padding: 5px 25px;
    border-radius: 10px;
    width: 70px;
}

button:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0 0);
    cursor:pointer;
}


/* Header styling */

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
    padding: 10px 100px;
}

.logo {
    font-size: 28px;
    color: #F9FAF8;
    font-weight: bold;
    min-width: 150px;
}

.header-links {
    display: flex;
    gap: 30px;
    font-size: 18px;
    color: #E5E7EB;
}


/* Section one styling */

.section-one {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    gap: 30px;
    padding: 100px 100px;
}


.one-content {
    display: flex;
    flex-direction: column;
}

.hero-image {
    width: 600px;
    height: 100%;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
}

@media only screen and (max-width: 1100px){
    .section-one{
        flex-direction: column-reverse;
    }
    .hero-image {
        align-self: center;
    }
    .one-content {
        justify-content: space-between;
        align-items: center;
    }
    .section-one p, .section-one h1 {
        text-align: center;
    }
}


/* Section two styling */

.section-two {
    padding: 40px 100px;
    padding-bottom: 80px;
}

.testimonials img {
    width: 200px;
    height: 200px;
    border: rgb(66, 162, 241) 7px solid;
    border-radius: 5px;;
}

.testimonials {
    padding-top: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 50px;
}

.example-container {
    width: 200px;
}

.example-container p {
    text-align: center;
    font-size: 18px;
    color: rgb(34, 34, 34);
}

@media only screen and (max-width: 1100px){
    .section-two h2 {
        text-align: center;
    }
}


/* Section three styling */

.section-three {
    background-color: #E5E7EB;
    padding: 80px 200px;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    text-align: justify;
    color: #1F2937;
}

.quote p, .author p {
    margin: 0px auto;
}

.author {
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    margin-right: 10%
}

@media only screen and (max-width: 1100px){
    .quote p {
        text-align: center;
    }
}


/* Section four styling */

.section-four {
    padding: 80px 200px;
}

.modal-container {
    background-color: #3882F6;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 50px 0px;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 60%;
}

.modal-title {
    font-size: 28px;
    color: #F9FAF8;
    font-weight: bold;
    margin: 0;
}

.modal-text {
    font-size: 18px;
    color: #F9FAF8;
    margin: 0;
}

.modal-container button {
    border: white 2px solid;
    width: auto;
    padding: 15px 25px;
}

@media only screen and (max-width: 1100px){
    .text-container p {
        text-align: center;
    }
    .modal-container {
        gap: 30px;
    }
    .text-container {
        gap: 30px;
    }
}
